@page "{id}"
@model OdeToFood.Pages.EditModel
@using OdeToFood.Models;


<h1>Edit Razor Page for @Model.Restaurant.Name</h1>

<form method="post">

    <input type="hidden" asp-for="Restaurant.Id" />

    <div>
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" />
        <span asp-validation-for="Restaurant.Name"></span>
    </div>

    <div>
        <label asp-for="Restaurant.Cusine"></label>
        <select asp-for="Restaurant.Cusine" asp-items="@Html.GetEnumSelectList<CusineType>()"></select>
        <span asp-validation-for="Restaurant.Cusine"></span>
    </div>

    <input type="submit" name="save" value="Save" />
</form>
