@model Restaurant

@{
    ViewBag.Title = "Details "+ @Model.Name;
}

<h1>@Model.Name</h1>
<div>
    Id: @Model.Id
</div>
<div>
    Cusine: @Model.Cusine
</div>

<a asp-action="Index" asp-controller="Home">Home</a>